body {
    padding: 0px;
    margin: 0px;
    /* min-width: 600px; */
    font-family: "微软雅黑";
}

.header-bar {
    width: 100%;
}

@media screen and (min-width:993px) {
    .logo {
        margin-left: 100px;
    }

    .list {
        margin-right: 100px;
    }

    .poster {
        background-image: url("https://s1.ax1x.com/2020/07/10/UKMxDP.jpg");
        width: 100%;
        height: 100px;
        background-position-y: 30%;
        background-position-x: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: rebeccapurple;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width:600px) {
    .logo-img {
        max-height: 64px !important;
    }
}

.hover-light {
    background-color: #212121 !important;
}

.hover-light:hover {
    background-color: #424242 !important;
}

.logo-img {
    max-height: 56px;
    margin-right: 10px;
}

.flex-center {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.selected_btn {
    background-color: white !important;

}

.poster {
    background-image: url("../img/post.jpg");
    width: 100%;
    /* height:90vh; */
    background-position-y: 30%;
    background-position-x: center;
    background-color: rgb(17, 17, 56);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-size: cover;
    /* background-color: rebeccapurple; */
    display: flex;
    justify-content: center;
    padding-top: 47%;
    align-items: center;
}

@media screen and (max-width:850px) {

    .more-info {
        font-size: 1em !important;
        padding: -0.2rem 2rem 0rem 2rem !important;
    }

    .logo {
        font-size: 1.8em !important;
    }

    h3 {
        font-size: 1.5rem !important;
    }

    .section {
        margin-top: -200px !important;
    }
}


@media screen and (min-width:850px) {
    .more-info {
        padding: 0.3rem 2rem 2.6rem 2rem !important;
    }
}

.more-info {
    margin-top: -25%;
    font-size: 1.5em;
    font-weight: 300;
    border-radius: 50px !important;
    background-color: rgba(0, 0, 0, 0) !important;
    border: rgba(255, 255, 255, 0.466) 2px solid !important;
}

.short-btn {
    margin-left: 8px !important;
    margin-right: 8px !important;
}

.triangle_border_up {
    width: 0;
    height: 0;
    border-width: 0 30px 30px;
    border-style: solid;
    border-color: transparent transparent rgb(255, 255, 255);
    /*透明 透明  灰*/
    margin: -30px auto 20px auto;
    position: relative;
}

/* .trans-area {
    width: 100%;
    height: 0px;
    display: flex;
    justify-content: center;
} */

blockquote {
    border-left: 5px solid #42a5f5 !important
}

.footer-bar {
    height: 70px;
    width: 100%;
    background-color: #212121;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.powered {
    margin-top: 5px;
    color: rgba(255, 255, 255, 0.8);
    margin-right: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;

.about {
    margin-left: 40px;
    font-family: "微软雅黑", Arial, Helvetica, sans-serif;
    font-size: 1.4em;
    color: rgba(255, 255, 255, 0.9);
    letter-spacing: 2px;
}


/* 滚动条 */

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: #fff;
}

::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 10px;
}

::-webkit-scrollbar-button {
    height: 0px;
}