body {
    padding: 0px;
    margin: 0px;
    /* min-width: 600px; */
}

.header-bar {
    width: 100%;
}

@media screen and (min-width:993px) {
    .logo {
        margin-left: 100px;
    }

    .list {
        margin-right: 100px;
    }

    .poster {
        background-image: url("../img/post.jpg");
        width: 100%;
        height: 100px;
        background-position-y: 30%;
        background-position-x: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: rebeccapurple;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width:600px) {
    .logo-img {
        max-height: 64px !important;
    }
}

.hover-light {
    background-color: #212121 !important;
}

.hover-light:hover {
    background-color: #424242 !important;
}

.logo-img {
    max-height: 56px;
    margin-right: 10px;
}

.flex-center {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.selected_btn {
    background-color: white !important;

}

.poster {
    background-image: url("../img/post.jpg");
    width: 100%;
    /* height:90vh; */
    background-position-y: 30%;
    background-position-x: center;
    background-color: rgb(17, 17, 56);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-size: cover;
    /* background-color: rebeccapurple; */
    display: flex;
    justify-content: center;
    padding-top: 58%;
    align-items: center;
}

@media screen and (max-width:850px) {

    .more-info {
        font-size: 1em !important;
        padding: -0.2rem 2rem 0rem 2rem !important;
    }

    .logo {
        font-size: 1.8em !important;
    }
}

@media screen and (min-width:850px) {
    .more-info {
        padding: 0.3rem 2rem 2.6rem 2rem !important;
    }
}

.more-info {
    margin-top: -38%;
    font-size: 1.5em;
    font-weight: 300;
    border-radius: 50px !important;
    background-color: #00000000 !important;
    border: rgba(255, 255, 255, 0.466) 2px solid !important;
}

.short-btn {
    margin-left: 8px !important;
    margin-right: 8px !important;
}

.sqare {
    width: 40px;
    height: 40px;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    /* IE 9 */
    -moz-transform: rotate(45deg);
    /* Firefox */
    -webkit-transform: rotate(45deg);
    /* Safari 和 Chrome */
    -o-transform: rotate(45deg);
    background-color: white;
    margin-top:-20px;
}

.trans-area{
    width:100%;
    height:0px;
    display:flex;
    justify-content: center;
}