*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: normal 16px/1.2;
    font-family: '微软雅黑', Arial, Helvetica, sans-serif;
    color: #fff;
    overflow-x: hidden;
}

.container h1 {
    font-family: '等线';
    letter-spacing: 25px;
    font-weight: 530;
}

@media screen and (max-width:600px) {
    .container h1 {
        text-shadow: 2px 2px 10px black;
    }
}

/* INTRO SECTION
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.trans-area {
    margin: -25px -25px -3px -25px;
    width: calc(100vw + 50px);
    height: 50px;
    filter: blur(3px);
    opacity: 1;
    background: #eceff1;
}

.bravo {
    display: flex;
    padding: 10px;
    background-color: #eceff1;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (max-width:600px) {
    .bravo {
        justify-content: flex-start;
    }

    .bravo .Bcard {
        font-size: 1em;
        max-width: 100px;
    }
}

.bravo .Bcard {
    cursor: help;
    margin: 10px;
    padding: 5px 10px;
    font-weight: 500;
    font-size: 1.2em;
    /* color: black; */
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    max-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}


.intro {
    background: url(https://s1.ax1x.com/2020/07/10/UKVAPI.jpg) bottom no-repeat;
    background-size: cover;
    /* filter: brightness(0.7); */
    padding: 150px 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
}


/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul {
    background: #eceff1;
    padding: 50px 0;
}

.timeline ul li {
    list-style-type: none;
    position: relative;
    width: 6px;
    margin: 0 auto;
    padding-top: 50px;
    background: #bdbdbd;
}

.timeline ul li::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: inherit;
}

.timeline ul li div {
    position: relative;
    bottom: 0;
    width: 400px;
    padding: 15px;
    background: #5aa7ba;
}

.timeline ul li div::before {
    content: '';
    position: absolute;
    bottom: 7px;
    width: 0;
    height: 0;
    border-style: solid;
}

.timeline ul li:nth-child(odd) div {
    left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #5aa7ba transparent transparent;
}

.timeline ul li:nth-child(even) div {
    left: -439px;
}

.timeline ul li:nth-child(even) div::before {
    right: -15px;
    border-width: 8px 0 8px 16px;
    border-color: transparent transparent transparent #5aa7ba;
}

time {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 8px;
}


/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li::after {
    transition: background .5s ease-in-out;
}

.timeline ul li.in-view::after {
    background: #777777;
}

.timeline ul li div {
    visibility: hidden;
    opacity: 0;
    transition: all .5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
    transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
    transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
    transform: none;
    visibility: visible;
    opacity: 1;
}


/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 900px) {
    .timeline ul li div {
        width: 250px;
    }

    .timeline ul li:nth-child(even) div {
        left: -289px;
        /*250+45-6*/
    }
}

@media screen and (max-width: 600px) {
    .timeline ul li {
        margin-left: 20px;
    }

    .timeline ul li div {
        width: calc(100vw - 91px);
    }

    .timeline ul li:nth-child(even) div {
        left: 45px;
    }

    .timeline ul li:nth-child(even) div::before {
        left: -15px;
        border-width: 8px 16px 8px 0;
        border-color: transparent #5aa7ba transparent transparent;
    }
}